{% extends "users/base.html" %}


{% block content%}
{% load crispy_forms_tags %}

    <div class="content_section">
        <fieldset class="form-group">
                <legend class="border-bottom mb-4">Ask your recipient a question</legend>
                {{ form|crispy }}
        </fieldset>
        <form method="POST">
            {% csrf_token %}
            {{ form1|crispy }}

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Send</button>
            </div>

        </form>

    </div>
{% endblock content %}
