{% extends "users/base.html" %}

{% block content%}
{% load crispy_forms_tags %}

<h2>Welcome to the Hiscocks family secret santa</h2>

<div class="content_section">
    <div class="border-top pt-3">
        <small class="text-muted">
            Is this your first visit? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </small>
    </div>
</div>

<div class="content_section">

            <small class="text-muted">
                Already have an Account? <a class="ml-2" href="{% url 'login' %}">Login</a>
            </small>
    </div>
{% endblock content %}
